.page {

   &__clients {
   &:not(:last-child){
      margin-bottom: 10px;
   }}}
.clients {
   padding: 50px 0;
   @media(max-width: 767px) {
      padding: 30px 0;
   }

   &__items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__item {
      padding: 8px 15px;
      flex: 0 1 16.6667%;
      text-align: center;
      min-width: 140px;
      img{
         max-width: 100%;
      }
   }
}